{% extends 'content_base.html' %}
{% block title %} 新增司机 {% endblock title %}
{% block heading1 %} 新增司机 {% endblock heading1 %}
{% block head_static %}
<style>
.trmouse:hover{
    background-color: #eef8ed;
}
</style>
{% endblock head_static %}
{% block body %}
    <div class="p-t-10 p-b-20" style="justify-content: left; width: 80%; margin:0 auto">
        <ul class="nav nav-tabs" style="margin:0 auto;">
            <li><a href="/message/message_template/">信息模板</a></li>
            <li><a href="/driver/driver_list/">司机列表</a></li>
        </ul>
    </div>
    <div class="r_wrap fr clearfix">
         <form method="post" action="/driver/add_new/" style="justify-content: left; width: 50%; margin:0 auto">
             {% csrf_token %}
             <div class="inputdetail p-b-20">
                 <span class="label-input100">司机姓名</span>
                 <input class="input100" type="text" value="{{ name }}" name="name" id="name" placeholder="请输入司机姓名" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100">司机电话(+61)</span>
                 <input class="input100" type="text" value="{{ phone }}" name="phone" id="phone" placeholder="请输入司机电话" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100">微信号码</span>
                 <input class="input100" type="text" value="{{ wechat }}" name="wechat" id="wechat" placeholder="请输入微信号码" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100">车牌号</span>
                 <input class="input100" type="text" value="{{ plate_number }}" name="plate_number" id="plate_number" placeholder="请输入车牌号" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100 p-r-20">车型</span>
                 <select name="type" id="type" class="input100" style="width: 80%; border:0">
                     <option value="SUV" label="SUV">SUV</option>
                     <option value="轿车" selected label="轿车">轿车</option>
                     <option value="商务车" label="商务车">商务车</option>
                 </select>
                 <div style="border-bottom: 1px solid #999999; width: 80%"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100">颜色</span>
                 <input class="input100" type="text" value="{{ color }}" name="color" id="color" placeholder="请输入车辆颜色" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="text-center p-t-13 p-b-23">
                <span style="text-align: center; color: indianred" class="txt1 p-b-9">
                    {{ errmsg }}
                </span>
            </div>
            <div class="p-t-50"></div>
            <div class="container-login100-form-btn">
                <input class="login100-form-btn" type="submit" value="保  存" name="" style="width: 150px">
            </div>
        </form>
    {{ errmsg }}
    </div>
{% endblock body %}