{% extends 'content_base.html' %}
{% block title %} 司机列表 {% endblock title %}
{% block head_static %}
<style>
.trmouse:hover{
    background-color: #eef8ed;
}
</style>
{% endblock head_static %}
{% block heading1 %} 司机列表 {% endblock heading1 %}
{% block body %}
    <div class="p-t-10 p-b-20" style="justify-content: left; width: 80%; margin:0 auto">
        <ul class="nav nav-tabs" style="margin:0 auto;">
            <li><a href="/message/message_template/">信息模板</a></li>
            <li class="active"><a href="#">司机列表</a></li>
        </ul>
    </div>
    <div class="r_wrap fr clearfix">
        <table style="justify-content: left; width: 80%; margin:0 auto">
            <tr style="height: 45px">
                <th style="border-bottom: 1px solid #57b846; text-align: center; width: 30%">
                    姓  名
                </th>
                <th style="text-align: center; border-bottom: 1px solid #57b846; width: 40%">
                    电  话
                </th>
                <th style="text-align: center; border-bottom: 1px solid #57b846; width: 30%">
                    车  型
                </th>
            </tr>
            {% for driver in drivers %}
                <tr class="trmouse" onclick="location.href='/driver/{{ driver.id }}/'" style="height: 45px">
                    <td style="border-bottom: 1px solid #57b846; vertical-align: bottom">
                        <p style="padding-left: 4em; font-size: 16px; font-weight: 700">{{ driver.name }}</p>
                    </td>
                    <td style="border-bottom: 1px solid #57b846; text-align: center; vertical-align: bottom">
                        <p>{{ driver.phone }}</p>
                    </td>
                    <td style="border-bottom: 1px solid #57b846; text-align: center; vertical-align: bottom">
                        <p>{{ driver.car_type }}</p>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {{ errmsg }}
    </div>
    <div class="p-t-50"></div>
    <div class="container-login100-form-btn" style="justify-content: left; width: 80%; margin:0 auto">
        <a href="/driver/add_new/" style="margin:0 auto">
        <button class="login100-form-btn">
            新增司机
        </button>
        </a>
    </div>
{% endblock body %}