{% extends 'content_base.html' %}
{% block title %} 信息模板 {% endblock title %}
{% block heading1 %} 信息模板 {% endblock heading1 %}
{% block content %}
    <div class="p-t-10 p-b-20" style="justify-content: left; width: 80%; margin:0 auto">
        <ul class="nav nav-tabs" style="margin:0 auto;">
            <li class="active"><a href="#">信息模板</a></li>
            <li><a href="/driver/driver_list/">司机列表</a></li>
        </ul>
    </div>
    <div class="panel-group p-t-20" id="accordion" style="width: 80%; margin:0 auto">
        {% for template in templates %}

            <div class="panel panel-default" style="border-color: #57b846">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{ template.template_code }}"
                style="text-decoration: none;">
                    <div class="panel-heading" style="background-color: #eef8ed">
                        <h4 class="panel-title">{{ template.template_name }}</h4>
                    </div>
                </a>
                <div id="{{ template.template_code }}" class="panel-collapse collapse out">
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>
                                    <p>
                                        <b>模版代码：</b>{{ template.template_code }} <br>
                                        <b>模版签名：</b>{{ template.template_sign }} <br>
                                        <b>模版内容：</b>{{ template.template_content }} <br>
                                    </p>
                                </td>
                                <td style="width: 100px; text-align: center">
                                    <a href="/message/{{ template.template_code }}/">
                                        <img src="/static/user/images/icons/use_template_icons.png" alt="使用该模板" width="40" height="40"><br/>
                                        使用该模板
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="p-t-10 p-b-10"></div>
        {% endfor %}
    </div>
{% endblock content %}/