{% extends 'content_base.html' %}
{% block title %} 新冠病毒防范措施发给澳洲手机号 {% endblock title %}
{% block heading1 %} 新冠病毒防范措施发给澳洲手机号 {% endblock heading1 %}
{% block body %}
    <div class="p-t-10 p-b-20" style="justify-content: left; width: 80%; margin:0 auto">
        <ul class="nav nav-tabs" style="margin:0 auto;">
            <li><a href="/message/message_template/">信息模板</a></li>
            <li><a href="/driver/driver_list/">司机列表</a></li>
        </ul>
    </div>
    <div class="r_wrap fr clearfix">
         <form method="post" action="/message/SMS_182674413/" style="justify-content: left; width: 50%; margin:0 auto">
             {% csrf_token %}
             <div class="inputdetail p-b-20">
                 <span class="label-input100">乘客电话(+61)</span>
                 <input class="input100" type="text" name="client_phone" id="client_phone"  placeholder="请输入乘客电话" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="text-center p-t-13 p-b-23">
                <span style="text-align: center; color: indianred" class="txt1 p-b-9">
                    {{ errmsg }}
                </span>
            </div>
            <div class="p-t-50"></div>
            <div class="container-login100-form-btn p-b-10" style="margin:0 auto">
                <input class="login100-form-btn" type="submit" value="发  送" name="" style="width: 150px">
            </div>
        </form>
    </div>
{% endblock body %}