{% extends 'content_base.html' %}
{% block title %} 发送中文接机短信给澳洲号码 {% endblock title %}
{% block heading1 %} 发送中文接机短信给澳洲号码 {% endblock heading1 %}
{% block body %}
    <div class="p-t-10 p-b-20" style="justify-content: left; width: 80%; margin:0 auto">
        <ul class="nav nav-tabs" style="margin:0 auto;">
            <li><a href="/message/message_template/">信息模板</a></li>
            <li><a href="/driver/driver_list/">司机列表</a></li>
        </ul>
    </div>
    <div class="r_wrap fr clearfix">
         <form method="post" action="/message/SMS_182668835/" style="justify-content: left; width: 50%; margin:0 auto">
             {% csrf_token %}
             <div class="inputdetail p-b-20">
                 <span class="label-input100">乘客电话(+61)</span>
                 <input class="input100" type="text" name="client_phone" id="client_phone"  placeholder="请输入乘客电话" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100">司机姓名</span>
                 <input class="input100" type="text" name="driver_name" id="driver_name" placeholder="请输入司机姓名" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100">司机电话(+61)</span>
                 <input class="input100" type="text" name="contact" id="contact" placeholder="请输入司机手机号码" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100">车牌号</span>
                 <input class="input100" type="text" name="plate_number" id="plate_number" placeholder="请输入车牌号" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100 p-r-20">车型</span>
                 <select name="type" id="type" class="input100" style="width: 80%; border:0">
                     <option value="SUV" label="SUV">SUV</option>
                     <option value="轿车" selected label="轿车">轿车</option>
                     <option value="商务车" label="商务车">商务车</option>
                 </select>
                 <div style="border-bottom: 1px solid #999999; width: 80%"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100">颜色</span>
                 <input class="input100" type="text" name="color" id="color" placeholder="请输入车辆颜色" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100">航班号码</span>
                 <input class="input100" type="text" name="flight" id="flight" placeholder="请输入航班号码" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100 p-r-20">机场</span>
                 <select name="start_address" id="start_address" class="input100" style="width: 80%; border:0">
                     <option value="悉尼金斯福德史密斯机场-国际" selected label="悉尼金斯福德史密斯机场-国际">悉尼金斯福德史密斯机场-国际</option>
                     <option value="悉尼金斯福德史密斯机场-国内" selected label="悉尼金斯福德史密斯机场-国内">悉尼金斯福德史密斯机场-国内</option>
                 </select>
                 <div style="border-bottom: 1px solid #999999; width: 80%"></div>
             </div>
             <div class="inputdetail p-b-20">
                 <span class="label-input100">目的地</span>
                 <input class="input100" type="text" name="end_address" id="end_address" placeholder="请输入目的地" maxlength="20" required>
                 <div style="border-bottom: 1px solid #999999"></div>
             </div>
             <div class="text-center p-t-13 p-b-23">
                <span style="text-align: center; color: indianred" class="txt1 p-b-9">
                    {{ errmsg }}
                </span>
            </div>
            <div class="p-t-50"></div>
            <div class="container-login100-form-btn p-b-10" style="margin:0 auto">
                <input class="login100-form-btn" type="submit" value="发  送" name="" style="width: 150px">
            </div>
        </form>
    </div>
{% endblock body %}