{% extends 'user_base.html' %}
{% block header_con %}
    <div class="limiter">
        <div class="text-left p-t-10" style="margin-top: -20px; color: white; background-color: #57b846">
            {% if user.is_authenticated %}
                <div class="login_btn fl p-l-10 p-t-10" style="margin-top: 10px">
                    欢迎您：<em>{{ user.username }}</em>
                    <span>|</span>
                    <a style="border-style: solid; border-width: 1px; border-color: white; color: white; text-decoration: none" href="{% url 'logout' %}">退  出</a>
                </div>
            {% else %}
                <div class="login_btn fl">
                    <a href="{% url 'login' %}">登录</a>
                    <span>|</span>
                    <a href="{% url 'register' %}">注册</a>
                </div>
            {% endif %}
        </div>
        <span class="login100-form-title" style="top: auto; border-color: #57b846; padding:10px 0 30px 0;position: relative">
            {% block heading1 %}
            {% endblock heading1 %}
        </span>

        <div class="container-login100"style="justify-content: left; min-height: fit-content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock header_con %}