{% extends 'user_base.html' %}
{% block title %} 登陆 {% endblock title %}
{% block head_static %}
{#    <style>#}
{#        .input11100 {#}
{#            display: block;#}
{#            width: 100%;#}
            {#background: transparent;#}
{#            font-family: Poppins-Medium;#}
{#            font-size: 18px;#}
{#            color: #333333;#}
{#            line-height: 2.5;#}
{#            padding: 0 5px;#}
{#        }#}
{#    </style>#}
{% endblock head_static %}
{% block body %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="post" action="/">
                    {% csrf_token %}
					<span class="login100-form-title">
						用户登陆
					</span>
                    <div class="inputdetail p-b-20" data-validate="请输入用户名">
                         <span class="label-input100">用户名</span>
                         <input class="input100" type="text" name="user_name" placeholder="用户名" maxlength="10" required>
                         <div style="border-bottom: 1px solid #999999"></div>
                     </div>

                    <div class="text-right p-t-13 p-b-23">

					</div>

                    <div class="inputdetail p-b-20" data-validate="请输入密码">
                         <span class="label-input100">密码</span>
                         <input class="input100" type="password" name="pwd" placeholder="密码" maxlength="16" required>
                         <div style="border-bottom: 1px solid #999999"></div>
                     </div>

					<div class="text-center p-t-13 p-b-23">
                    <span style="text-align: center; color: indianred" class="txt1 p-b-9">
                        {{ errmsg }}
                    </span>
					</div>
                    <div class="text-right p-t-13 p-b-23">

					</div>

					<div class="container-login100-form-btn">
{#						<button class="login100-form-btn">#}
                            <input class="login100-form-btn" type="submit" value="登  陆" name="">
{#						</button>#}
					</div>

					<div class="flex-col-c p-t-40 p-b-40">
						<span class="txt1 p-b-9">
							没有账号？
						</span>

						<a href="/user/register/" class="txt3">
							去注册
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock body %}