{% extends 'user_base.html' %}
{% block title %} 注册 {% endblock title %}
{% block body %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="post" action="/user/register/">
                    {% csrf_token %}
					<span class="login100-form-title">
						用户注册
					</span>

                    <div class="inputdetail p-b-20" data-validate="设置用户名">
                         <span class="label-input100">用户名</span>
                         <input class="input100" type="text" name="user_name" placeholder="设置用户名" maxlength="10" minlength="5" required>
                         <div style="border-bottom: 1px solid #999999"></div>
                     </div>

                    <div class="inputdetail p-b-20" data-validate="设置密码">
                         <span class="label-input100">密码</span>
                         <input class="input100" type="password" name="pwd" placeholder="设置密码" maxlength="16" minlength="8" required>
                         <div style="border-bottom: 1px solid #999999"></div>
                     </div>
                    <div class="inputdetail p-b-20" data-validate="再次输入密码">
                         <span class="label-input100">确认密码</span>
                         <input class="input100" type="password" name="cpwd" placeholder="再次输入密码" maxlength="16" minlength="8" required>
                         <div style="border-bottom: 1px solid #999999"></div>
                     </div>
                    <div class="inputdetail p-b-20" data-validate="设置邮箱">
                         <span class="label-input100">邮箱</span>
                         <input class="input100" type="email" name="email" placeholder="设置邮箱" required>
                         <div style="border-bottom: 1px solid #999999"></div>
                     </div>
					<div class="text-center p-t-13 p-b-23">
                    <span style="text-align: center; color: indianred" class="txt1 p-b-9">
                        {{ errmsg }}
                    </span>
					</div>
                    <div class="text-right p-t-10 p-b-10">

					</div>

					<div class="container-login100-form-btn">
{#						<button class="login100-form-btn">#}
                            <input class="login100-form-btn" type="submit" value="注  册" name="">
{#						</button>#}
					</div>

					<div class="flex-col-c p-t-40 p-b-40">
						<span class="txt1 p-b-9">
							已有账号？
						</span>

						<a href="/" class="txt3">
							去登陆
						</a>
					</div>
				</form>
			</div>

		</div>
	</div>
	
{% endblock body %}