{% extends 'user_base.html' %}
{% block title %} 激活成功 {% endblock title %}
{% block body %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <span class="login100-form-title">
                    激活成功
                </span>
                <a class="container-login100-form-btn" href="/">
                    <button class="login100-form-btn">
                        登陆自己的账户
                </button>
                </a>
                </div>
                <div class="flex-col-c p-t-40 p-b-40">
                    <span class="txt1 p-b-9">
                        请告知激活用户，账户已激活，可正常登陆！
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}