
{% extends 'user_base.html' %}
{% block title %} 注册成功 {% endblock title %}
{% block body %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <span class="login100-form-title">
                    注册成功
                </span>
                <div class="container-login100-form-btn">
                    <a href="/">
                    <button class="login100-form-btn">
                        等待管理员激活账号
                    </button>
                    </a>
                </div>
                <div class="flex-col-c p-t-40 p-b-40">
                    <span class="txt1 p-b-9">
                        请提醒管理员后台登陆并激活你的账户!
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}